<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gradient-to-br from-blue-500 to-indigo-800 h-screen flex items-center justify-center">

    <div class="mx-auto flex w-3/5">
        <div class="bg-white rounded-lg shadow-lg p-6  border border-indigo-800 max-h  " style="flex: 1;">
            <h2 class="text-2xl font-bold mb-4 text-white bg-blue-500 text-center py-1 px-2 rounded tracking-widest border border-indigo-800">FILTER</h2>
            <form action="{% url 'filter' %}" method="POST">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="{{ filter_form.full_name.id_for_label }}" class="block text-white font-semibold mb-2 bg-indigo-800 text-center tracking-tighter" style="width: 100px;">
                        {{ filter_form.full_name.label }}
                    </label>
                    <div class="form-input w-[183px] border border-indigo-800 mb-4">
                        {{ filter_form.full_name }}
                    </div>

                    <div class="mb-4">
                        <label for="{{ filter_form.course.id_for_label }}" class="block text-white font-semibold mb-2 bg-indigo-800 text-center tracking-tighter" style="width: 100px;">
                            {{ filter_form.course.label }}
                        </label>
                        <div class="form-input">
                            {{ filter_form.course }}
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="{{ filter_form.gender.id_for_label }}" class="block text-white font-semibold mb-2 bg-indigo-800 text-center tracking-tighter" style="width: 100px;">
                            {{ filter_form.gender.label }}
                        </label>
                        <div class="">
                            {{ filter_form.gender }}
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="{{ filter_form.age_start.id_for_label }}" class="block text-white font-semibold mb-2 bg-indigo-800 text-center tracking-tighter" style="width: 100px;">
                            {{ filter_form.age_start.label }}
                        </label>
                        <div class="form-input w-[183px] border border-indigo-800">
                            {{ filter_form.age_start }}
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="{{ filter_form.age_end.id_for_label }}" class="block text-white font-semibold mb-2 bg-indigo-800 text-center tracking-tighter" style="width: 100px;">
                            {{ filter_form.age_end.label }}
                        </label>
                        <div class="flex flex-row justify-between">
                            <div class="form-input w-[183px] border border-indigo-800">
                                {{ filter_form.age_end }}
                            </div>
                            <a href=""><button class="bg-green-500 text-white py-1 px-2 rounded hover:bg-green-600">Filter</button></a>
                        </div>
                        
                    </div>
                </div>
            </form>
        
        </div>
        <div class="bg-white rounded-lg shadow-lg p-6 border border-indigo-800" style="flex: 2;"> 
            <div class="mb-4">
                <a href="{% url 'add' %}"><button class="bg-green-500 text-white py-1 px-2 rounded hover:bg-green-600">Add Student</button></a>
            </div>

            <table id="dataTable" class="min-w-full">
                <thead>
                    <tr class="bg-gray-200 text-gray-700 uppercase text-sm leading-normal">

                        <th class="py-2 px-4 text-center">Full Name</th>
                        <th class="py-2 px-4 text-center">Course</th>
                        <th class="py-2 px-4 text-center">Gender</th>
                        <th class="py-2 px-4 text-center">Age</th>
                        <th class="py-2 px-4 text-center">Action</th>

                    </tr>

                </thead>

                {% for x in students %}
                <tbody id="tableBody" class="text-gray-600 text-sm font-light">
                    <tr>
                        <td class="py-1 px-2 text-center">{{x.first_name}} {{x.last_name}}</td>
                        <td class="py-1 px-2 text-center">{{x.course}}</td>
                        <td class="py-1 px-2 text-center">{{x.gender}}</td>
                        <td class="py-1 px-2 text-center">{{x.age}}</td>
                        <td class="py-1 px-2 text-center">
                            <a href="{% url 'update' x.id %}"><button class="bg-blue-500 text-white py-1 px-3 rounded mr-2 hover:bg-blue-600">Update</button></a>
                           <button onclick="deleteStudent({{ x.id }})" id="delete_button" class="bg-red-500 text-white py-1 px-3 rounded hover:bg-red-600">Delete</button>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    <script>
        function deleteStudent(id){
            let sure = confirm("Are you sure you want to delete?" + id)
            if (sure){
                window.location = "/delete/" + id
            }
        }

    </script>
</body>
</html>